<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/features.css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/votes.js"></script>
    </head>
    <body>
      <!-- Navigation -->
      <nav class="navbar navbar-ceasar navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navigationArea">
            <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <a class="brand" href="/">
                      <img src="/images/ceaser-logo.png" alt="ceasar-thump-logo">
                  </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<!-- SEARCH BOX -->
                <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for Contests" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>All Contests</option>
                                        <option value="1">Photography</option>
                                        <option value="2">Videos</option>
                                        <option value="3">Music</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Creator Name</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <button type="submit" class="btn btn-secundary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secundary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
<!-- END SEARCH BOX -->
                    <% if (typeof user !== 'undefined') { %>
                    <div id="picutureHeader"><img src="http://graph.facebook.com/<%=user.facebookID%>/picture?type=small"</div>
                      <p id="userHeader"><%=user.name%></p>
                    <% } %>

                    <div id="navigation">
                      <ul>
                    <% if (typeof user !== 'undefined') { %>
                    <% if (user.role === 'admin') { %>
                        <li> <a href="/users"> Manage Users </a> </li>
                    <% } %>
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/contest">Contest Panel</a></li>
                        <li> <a href="/profile">Profile</a></li>
                        <li> <a href="/logout">Log Out</a></li>
                     <% } else { %>
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    <% } %>
                     </ul>
                   </div>
              </div>
            </div>
          </div>
      </nav>



      <!-- Page Content -->
      <div class="container-fluid">

        <%-body %>

        </div>

        <!--footer start from here-->
          <footer>
            <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Logo</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--sucket start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>Developed by Alejandro Jimenez © 2016 - All Rights Recerved</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">webenlance.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>
