<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <div>

    </div>
    <footer>
      <p>
        Developed by <a href="#">Alejandro Jimenez</a>
      </p>
    </footer>
  </body>
</html>
