<h2>This is your profile</h2>

<p>Name: <%=user.name%>  </p>

<% if (user.email === "undefined" ) { %>

  <form action="/profile/" method="post">
  <label for="email-input">Email missing during registration: </label>
  <input id= "email-input" type="email" name="userEmail" placeholder="Write your email address"><br>
  <input type="submit" value="Submit">
  </form>

<% } else { %>
  <p>Email: <%=user.email%>  </p>
<% } %>


<img src="http://graph.facebook.com/<%=user.facebookID%>/picture?type=large" />



<% if (typeof message !== "undefined") { %>
<div class="success">  <%= message %> </div>
<% } %>
<br/>
