/* ------------ ------------ BOOSTRAP MODIFICATIONS ------------ ------------ */

.col-md-4 {
    padding-bottom: 2em;
}

/* ------------ ------------ END BOOSTRAP MODIFICATIONS ------------ ------------ */


/* ------------ ------------ GENERAL  MODIFICATIONS ------------ ------------ */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body{
    font-family: 'Roboto', sans-serif;
}

.padtop3 {
  padding-top: 3em;
}
.paddingBottom4em {
  padding-bottom: 4em;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* --------------------- -------------------HEADER BAR ----------------------- ------------------*/

#userHeader {
    background-color: transparent;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    color: white;
}

.navbar-ceasar {
    background-color: #800020;
    border-color: #650920;
    box-shadow: 0px 8px 29px;
    height: 6em;
    margin-bottom: 0px;
}
.brand {
    float: left;
    padding: 25px 35px 0px 15px;
    display: inline-block;
    position: relative;
    height: 0px;
}

.brand > img {
  width: 50px;
  position: relative;
  top: -20px;
}


.picutureHeader {
    background-color: transparent;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}



/* --------------------- -------------------NAVIGATION MENU ----------------------- ------------------*/

.navbar-ceasar {
    display: block;
    position: relative;
}



@media (min-width: 768px) {
.navigation {
    float: right;
    margin: 0;
}
}

#navigation {
    float: right;
    overflow: hidden;
    position: relative;
}
#navigation ul {
    padding: 0px;
    position: relative;
    left: 50%;
    margin: 0px;
}

#navigation ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#navigation ul li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    background: #800020;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.3em;
    border-radius: 13px;
}
#navigation ul li a:hover {
    background: #bd1c44;
    color: #fff;
    border-radius: 13px;
}
#navigation ul li a.active,
#navigation ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}


/* ------------ ------------ END GENERAL  MODIFICATIONS ------------ ------------ */


/* --------------------- --- END HEADER BAR ----------------------- -------------*/


  /* ------------ ------------   LOGIN PAGE ------------ ------------ */

#facebook {
      background: #3b5998;
      border-color: #3b5298;
      width: 16%;
      height: 3em;
      border-radius: 10px;
}
#facebook a {
    color: white;
    font-weight: bold;
    text-align: center;
}
#google {
    background: #db4437;
    border-color: #db4137;
    width: 16%;
    height: 3em;
    border-radius: 10px;
}
#google a {
    color: white;
    font-weight: bold;
    text-align: center;
}
.login {
  margin: auto;
}


/* ------------ ------------   END LOGIN PAGE ------------ ------------ */

/* ------------ ------------   SIGNUP PAGE ------------ ------------ */

.social-signup > a > img {
    width: 250px;
    clear: both;
    display: inline-block;
}

/* ------------ ------------  END  SIGNUP PAGE ------------ ------------ */


/* ------------ ------------ HOME PAGE ------------ ------------ */

.mainHeader {
    text-align: center;
    min-height: 4%;
    background-color: red;
    height: 20vh;
}

.mainHeader h1 {
    font-size: 38px;
    padding: 0.5em;
    font-weight: bold;
}


.contestGrid {
  width: 300px;
}



/* ------------ ------------  END  HOME PAGE ------------ ------------ */

/* ------------ ------------  FOOTER  ------------ ------------ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }


 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

 /* ------------ ------------  FOOTER  END ------------ ------------ */


/* ------------ ------------ MEDIA QUERY  ------------ ------------ */
