

<h4>Contest name: <%= data.name %></h4>

<ul>
    <li>Photo: <img src="<%=data.contestImage%>" width="80px" /> | 2: <%= data.name %> | 3: <%= data.typeAward %></li>
    <br>
</ul>


<img src="/images/director-237412_1920.jpg"  width="80px"  />
