


<h1><%= title %></h1>
<ul>

<li> Title:<%= contest.name %> </li>
<li> Genre: <%= contest.category %></li>
<li> Plot:<%= contest.description %> </li>

</ul>
<hr/>

      <a href = "/profile">
        Back to your profile
      </a>
