
    <h1><%= title %></h1>
<ul>

<li> Title:<%= data.title %> </li>
<li> Genre: <%= data.genre %></li>
<li> Plot:<%= data.plot %> </li>

</ul>

      <a href = "/movies">
        Back to Movie Inventory
      </a>
  </body>
</html>
