


<h1><%= title %></h1>
<ul>

<li> Name:<%= contest.name %> </li>
<li> Category: <%= contest.category %></li>
<li> Description:<%= contest.description %> </li>

</ul>
<hr/>

      <a href = "/contest">
        Back to your contests page
      </a>
