
    <h1><%= title %></h1>
<ul>

<li> Title:<%= data.name %> </li>
<li> Category: <%= data.category %></li>
<li> Description:<%= data.description %> </li>

</ul>
<hr/>

      <a href = "/profile">
        Back to your profile
      </a>
